<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New apartment</title>
</head>
<body>
				
	<form method="post" action="/apartments">
	
	  <input type="number"  step = "0.5"  		name="rent"     			 placeholder="rent"     			required>
	  <br>
	  <input type="number"  step = "0.5" 		name="numberOfBedrooms"  	 placeholder="numberOfBedrooms"  	required>
	  <br>
	  <input type="number"  step = "0.5"   		name="numberOfBathrooms"     placeholder="numberOfBathrooms"  	required>
	  <br>
	  <input type="number" 	step = "0.5"  		name="squareFootage"      	 placeholder="squareFootage"  		required>
	  <br>
	  <input type="text" 	name="address"  		placeholder="address"  	required>
	  <br>
	  <input type="text"    name="city"     		placeholder="city"  	required>
	  <br>
	  <input type="text" 	name="state"      		placeholder="state"  	required>
	  <br>	  
	  <input type="text" 	name="zipCode"      	placeholder="zipCode"  	required>
	  <br>	  	  
	  <button>Add listing</button>
	</form>
		
</body>
</html>