<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Who are you?</title>
</head>
<body>
				
	<form method="post" action="/api/signup">
	  <input type="email"    name="email"     		placeholder="email"     required>
	  <br>
	  <input type="password" name="password"  		placeholder="password"  required>
	  <br>
	  <input type="lastName"    name="lastName"     placeholder="lastName"  required>
	  <br>
	  <input type="firstName" name="firstName"      placeholder="firstName"  required>
	  <br>
	  <button>Signup</button>
	</form>
		
</body>
</html>