<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Your New Home!</title>
</head>

<body>
	{{> /common/_navigation }}
	
	<h1>Apartments!</h1>	
	
	{{#apartmentsActive}}  
		<div>
			<a href="/apartments/{{ id }}">{{ address }} --- 
											{{ rent }}          {{ numberOfBathrooms }}    {{ numberOfBedrooms }}
											{{ squareFootage }} {{ address }} {{ city }}   {{ state }}  {{ zipCode }}																				
			</a>
			<br>
			{{#noUser}}
			    <a href="/login">Login to LIKE apartment</a>
			{{/noUser}}
		</div>	
		<br>
	{{/apartmentsActive}}

</body>
</html>